/* Definições Gerais ------------------------------------------------------ */

* {
    box-sizing: border-box;
}

a {
    text-decoration: 0;
    color: inherit;
}

body {
    font-family: serif;
    font-size: 16px;
    max-width: 1000px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.3;
    background-color: #FFFAF1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

p {
    text-align: justify;
    hyphens: auto;
}

div {
    padding: 15px;
}

p {
    max-width: 40em;
}

.responsivo {
    float: none;
    width: 100%;
} 

.navegacao ul {
    padding: 0px;
    margin: 0px;
}

.navegacao li {
    display: block;
    line-height: 1.5;
    list-style: none;
    border: 0px;
    border-bottom: 1px;
    border-color: black;
    border-style: solid;
}

.lancador-menu {
    position: absolute;
    top: 20px;
    border: 0px;
    border-bottom: 1px;
    border-style: solid;
    padding: 4px 8px;
    margin-left: 15px;
    margin-top: 15px;
    text-decoration: none;
    background-color: black;
    border-radius: 4px;
    color: white;
}

@media screen and (min-width: 400px) {
    .lancador-menu {
        display: none;
    }

    .navegacao {
        position: absolute;
        top: 20px;
    }

    .navegacao li {
        display: inline-block;
        margin-right: 1em;
    }
}

@media screen and (min-width: 600px) {
    .responsivo {
        float: left;
        width: 50%;
    }
}

@media screen and (min-width: 850px) {
    .responsivo {
        width: 25%;
    }    
}

@media screen and (min-width: 1040px) {
    body {
        margin-left: auto;
        margin-right: auto;
    }
}