/* Definições Gerais ------------------------------------------- */

:root {
  --off-black: #333;
  --off-white: #f1f1f1;
}

.container {
  padding: 0 2rem;
}

body {
  position: relative;
  max-width: 66ch;
  margin: 0 auto 4rem auto;
  line-height: 1.5;
  font-family: "Work Sans", sans-serif;
  color: var(--off-black);
  background: var(--off-white);
}

header {
  margin-top: 2rem;
  min-height: 1.5rem;
}

a {
  transition: 0.5s;
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

h1 {
  font-size: clamp(2rem, 1rem + 10vw, 5rem);
  line-height: 1;
}

p {
  max-width: 50ch;
}

/* Definições Específicas ----------------------------------------- */

.lancador-menu {
  display: inline-block;
  padding: 0.25em 0.5em;
  color: var(--off-white);
  background: var(--off-black);
  border: 2px solid var(--off-black);
  font-weight: bold;
}

.lancador-menu:hover,
.lancador-menu:focus {
  opacity: 1;
  color: var(--off-black);
  background-color: var(--off-white);
}

.navegacao ul {
  margin: 4rem 0 2rem 0;
  padding: 0;
}

.navegacao li {
  list-style-type: none;
  padding: 0.2em 0;
  border-bottom: 1px solid var(--off-black);
}

::-moz-selection,
::selection {
  background: #f8de7e;
}

@media screen and (max-width: 485px) {
  .js a {
    transition: color 0s;
  }
  .js a:hover {
    opacity: 1;
  }

  .js .navegacao {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    background-color: var(--off-black);
    transition: max-height 0.5s;
  }

  .js .navegacao ul {
    margin: 0;
  }

  .js .navegacao li {
    padding: 0.25em 0.5em;
    color: var(--off-white);
    border: 2px solid var(--off-black);
    border-top: 2px solid var(--off-white);
  }

  .js .navegacao li:hover {
    color: var(--off-black);
    background-color: var(--off-white);
    border-top: 2px solid var(--off-black);
    font-weight: bold;
  }

  .js #menu.menu-desdobrado {
    max-height: 12rem;
  }
}

@media screen and (min-width: 486px) {
  .lancador-menu {
    display: none;
  }

  .navegacao li {
    display: inline-block;
    margin-right: 1rem;
  }

  nav {
    width: 100%;
    position: absolute;
    top: -4rem;
  }
}
