/* Definições Gerais ------------------------------------------- */

:root {
  --off-black: #333;
  --off-white: #f1f1f1;
}

body {
  position: relative;
  max-width: 485px;
  margin: 0 auto 4rem auto;
  padding: 0 2rem;
  line-height: 1.4;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--off-black);
  background: var(--off-white);
}

header {
  margin-top: 2rem;
  min-height: 1.5rem;
}

a {
  transition: 0.5s;
  color: var(--off-black);
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

/* Definições Específicas ----------------------------------------- */

.lancador-menu {
  display: inline-block;
  padding: 0.25em 0.5em;
  color: var(--off-white);
  background: var(--off-black);
  border: 2px solid var(--off-black);
  font-weight: bold;
}

.lancador-menu:hover,
.lancador-menu:focus {
  opacity: 1;
  color: var(--off-black);
  background-color: var(--off-white);
}

.navegacao ul {
  margin: 4rem 0 2rem 0;
  padding: 0;
}

.navegacao li {
  list-style-type: none;
  padding: 0.2em 0;
  border-bottom: 1px solid var(--off-black);
}

@media screen and (max-width: 485px) {
  .js .navegacao {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    background-color: var(--off-black);
    transition: max-height 0.5s;
  }

  .js .navegacao ul {
    margin: 0;
  }

  .js .navegacao li {
    padding: 0.25em 0.5em;
    border: 2px solid var(--off-black);
    border-top: 2px solid var(--off-white);
  }

  .js .navegacao a {
    color: var(--off-white);
  }

  .js #menu.menu-desdobrado {
    max-height: 172px;
  }
}

@media screen and (min-width: 486px) {
  .lancador-menu {
    display: none;
  }

  .navegacao li {
    display: inline-block;
    margin-right: 1rem;
  }

  nav {
    width: 100%;
    position: absolute;
    top: -4rem;
  }
}
